{%-liquid
    assign background = section.settings.background
    assign header_text = section.settings.header-text
    assign header_image = section.settings.image
    assign cta_text = section.settings.cta_text
    assign cta_text_color = section.settings.cta_text_color
    assign cta_bg_color = section.settings.cta_bg_color
-%}

<style>
.home-header {
    height: 550px;
    background: {{ background }};
}
.home-header .container {
    color: #FFFFFF;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.home-header p {
    margin: 30px 0;
    font-size: 18px!important;
} 
.home-header .cta-button {
    background: {{ cta_bg_color }}!important;
    color: {{ cta_text_color }};
}
.home-header .header_image {
    position: absolute;
    bottom: -40px;
    right: 0;
    max-width: 50%;
}
.home-header .header_image {
    max-width: 540px;
}
@media screen and (max-width: 1200px) {
    .home-header {
        padding: 0 50px;
        height: 500px;
    }
    .header_title {
        max-width: 60%;
    }
    .header_image {
        max-width: 40%!important;
    }
}   
@media screen and (max-width: 768px) {
    .home-header {
        height: auto!important;
        padding: 50px 0 0 0;
    }
    .home-header .container {
        flex-direction: column!important;
        text-align: center;
    }
    .header_title {
        max-width: 90%!important;
    }
    .header_image {
        max-width: 90%!important;
        position: relative!important;
        margin-top: 50px!important;
    }
}
@media screen and (max-width: 480px) {
    .home-header {
        padding: 50px 0 0 0!important;
    }
    .header_title {
        max-width: 98%!important;
    }
}
</style>

<div class="container">
    <div class="header_title">
        <h1>
            Say 
            <span style="color:#6e6d99;">Hello
                <img src="{{ 'hand_emoji.png' | asset_url }}" style="vertical-align: baseline; position: relative;bottom: -5px;" height="55">
            </span>
            <br/> to your candle habit,<br/> <span style="color:#6e6d99;">reimagined.</span>
        </h1>
        <p>{{ header_text }}</p>
        <a href="#" class="cta-button">{{ cta_text }}</a>
    </div>
    <div class="header_image">
        <img src="{{ header_image | img_url: 'master' }}">
    </div>
</div>

{% schema %}
    {
        "name": "Header Home",
        "class": "home-header",
        "settings": [
            {
                "type": "text",
                "id": "header-text",
                "label": "Text"
            },
            {
                "type": "color_background",
                "id": "background",
                "label": "Background",
                "default": "linear-gradient(#ffffff, #000000)"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Header Image"
            },
            {
                "type": "text",
                "id": "cta_text",
                "label": "CTA text",
                "default": "LEARN MORE"
            },
            {
                "type": "color",
                "id": "cta_bg_color",
                "label": "CTA background",
                "default": "#6e6d99"
            },
            {
                "type": "color",
                "id": "cta_text_color",
                "label": "CTA text color",
                "default": "#fff"
            }
        ]
    }
{% endschema %}
